.wtitle-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 0.2cm;
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 15cm) {
    .optisolver{
        height: 30px;
        
    }
    .wtitle-wrapper {
       justify-content: space-between;
       padding: 2.5vw;
    }
  }
  .optisolver{
    height: 50px;
  }