.titles {
    display: flex;
    width: 23vw;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5vw;
    
    

}

.names {

    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
  
 
}
.students{
    display:flex;
    width: 72vw;
    justify-content: space-between;
}

 div {
    color: white;
}

.footer {
    z-index: 2;
   display: flex;
    left: 5vw;
    border-top: 1px solid grey;
    padding-top: 0.5cm;

}

.supervisor {
    display: flex;
    width: 90vw;
}

.cp {
    width: 100vw;
    text-align: center;

}
.footer-wrapper{
    position: absolute;
    top:14.5cm;
    z-index: 2;
}