
  .students,
  .supervisor {
    width: 100%;
    gap: 1cm;
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
  }
  
  .students div,
  .supervisor div {
    width: 3cm;
  }
  .students .name,
  .supervisor .name {
    width: 4cm;
  }
  
  
  .footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 14.5cm;
    z-index: 2;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-top: 1px solid grey;
    width: 95vw;
    color: white;
  }

  @media(max-width:700px){

  .students,
  .supervisor {
    width: 100%;
    gap: 0.4cm;
  }
}