
  .students,.supervisor{
    width: 100%;
    display: flex;
    gap:1cm;
  }
  
  .footer-title{
    width: 3cm;
  }
  .name {
    width: 4cm;
  }
  
  
  .footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-top: 1px solid grey;
    width: 95vw;
    color: white;
  }

 .cp{
  width: 100vw;
  text-align: center;
 }
 @media only screen and (max-width: 768px) {
  .footer-title{
    width: 1.5cm;
    font-size: 7px;
  }
  .name {
    width: 2cm;
    font-size: 7px;
  }
  .students,.supervisor{
    gap:0.3cm;
  }
  
 }
