.welcome-wrapper{
   background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
}
button{
    margin-bottom: 50px;
    width:150px
}
.welcome-text{
   width: 100vw;
   text-align: center;
    font-size:xx-large

}
