.nav-text:hover{
    font-weight: bolder;
}
.nav-brand{
    width:50vw;
}
.navbar-custom{
    height:2cm;
    padding-top: 0.2cm;
    padding-left: 0.4cm;
    padding-right:0.4cm;
}
.nav-text{
    color: white;
}
@media only screen and (min-width: 768px) {
    .nav-brand{
        width:50vw;
        padding-left: 1cm;
    }

}
#basic-navbar-nav{
    margin-right: 0.5cm;
}
.toggle{
    color: white;
   
  }