.opaque {
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.75;
    z-index: 1;
}

.opaque {
    position: relative;
    top: 0;
    left: 0;
}

.carousel img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
   
  }
.carousel-indicators {
    position: absolute;
    top: 3.8cm;
    width: 100px;
    margin-left: 30px;
    height: 5px;
}

.carousel-caption {
    position: absolute;
    top: 5.3cm;
    left: 0;
    margin-left: 30px;
    color: white;
    z-index: 2;
    text-align: left;
    text-wrap: wrap;
    font-size: 25px;
}

@media screen and (max-width: 19.9cm) {
    .large-screen {
        display: none;
    }
}

@media screen and (min-width: 20cm) {

    .carousel-indicators {
        top: 0.2cm;
        height: 5px;
        margin-left: 0%;
        width:4%;
    }

    .carousel-caption {
        position: absolute;
        top: 0.5cm;
        width: 77vw;
        text-align: center;
        font-size: medium;
    }

    .carousel {
        position: absolute;
        top: 3cm;
        height: 11cm;
        width: 95vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    .carousel img{
        width: 15vw;
        height:6cm;
        object-fit: cover;
        position: relative;
        left: 35.5vw;
        border-radius: 0.4cm;
    }
    .small-screen {
        display: none;
    }

}

