.tableau{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: black;
}
