.dashboard-page {
    height: 12cm;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Center horizontally */
    align-items: center; /* Center vertically */
  }