.solve-page-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 19cm;
    padding-top: 1cm;
}
.solve-writeup{
    width: 100vw;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.not-seen{
    display: none;
}
.seen div{
    color: white;
    display:flex;
    flex-direction: column;
}